body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.Call-Out-Body {
	color:#ffffff;
	font-family:Arial, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.455;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Call-Out-Bullets {
	color:#ffffff;
	font-family:Arial, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.455;
	list-style-position:outside;
	margin-bottom:0;
	margin-left:29px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-13px;
	text-transform:none;
	widows:1;
}
p.Call-Out-Header {
	color:#ffffff;
	font-family:Lato, sans-serif;
	font-size:19px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:0.842;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Header-1 {
	color:#166ba4;
	font-family:Lato, sans-serif;
	font-size:18px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:0.889;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Basic-Paragraph {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.333;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Title {
	color:#00467f;
	font-family:Lato, sans-serif;
	font-size:22px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.Hyperlink {
	color:#0093d4;
	font-family:Arial, sans-serif;
	font-style:normal;
	font-weight:normal;
	text-decoration:underline;
}
span._idGenBNMarker-1 {
	color:#003b71;
	display:inline-block;
	font-family:"Myriad Pro", sans-serif;
	font-style:normal;
	font-weight:normal;
	text-indent:0;
	width:13px;
}
p.ParaOverride-1 {
	text-align:center;
}
p.ParaOverride-2 {
	-epub-hyphens:none;
}
span.CharOverride-1 {
	color:#003b71;
}
span.CharOverride-2 {
	color:#0093d4;
}
span.CharOverride-3 {
	color:#166ba4;
	font-family:Lato, sans-serif;
	font-size:18px;
	font-style:normal;
	font-weight:bold;
}
#_idContainer000 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:47.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:600.00px;
	z-index:11;
}
#_idContainer001 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:9.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:600.00px;
	z-index:0;
}
#_idContainer002 {
	-ms-transform:translate(0.000px,13.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,13.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,13.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:600.00px;
	z-index:1;
}
#_idContainer003 {
	-ms-transform:translate(-0.001px,116.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,116.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,116.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:600.00px;
	z-index:1;
}
#_idContainer004 {
	-ms-transform:translate(-0.001px,132.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,132.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:198.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,132.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:600.00px;
	z-index:0;
}
#_idContainer005 {
	-ms-transform:translate(-0.001px,329.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,329.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,329.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:600.00px;
	z-index:2;
}
#_idContainer006 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:95.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:600.00px;
	z-index:0;
}
#_idContainer007 {
	-ms-transform:translate(99.000px,47.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(99.000px,47.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:35.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(99.000px,47.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:402.00px;
	z-index:2;
}
#_idContainer008 {
	-ms-transform:translate(110.000px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(110.000px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:23.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(110.000px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:380.00px;
	z-index:1;
}
#_idContainer009 {
	-ms-transform:translate(-0.001px,9.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,9.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:95.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,9.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:600.00px;
	z-index:0;
}
#_idContainer010 {
	-ms-transform:translate(36.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(36.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:0.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:524.00px;
	z-index:1;
}
#_idContainer011 {
	-ms-transform:translate(36.000px,113.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(36.000px,113.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:0.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,113.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:524.00px;
	z-index:2;
}
#_idContainer012 {
	-ms-transform:translate(-0.001px,1361.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,1361.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:115.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,1361.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:600.00px;
	z-index:8;
}
#_idContainer013 {
	-ms-transform:translate(-0.001px,1483.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,1483.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:47.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,1483.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:600.00px;
	z-index:10;
}
#_idContainer014 {
	-ms-transform:translate(22.999px,48.954px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(22.999px,48.954px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:44.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(22.999px,48.954px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:50.14px;
	z-index:9;
}
#_idContainer015 {
	-ms-transform:translate(35.999px,1023.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(35.999px,1023.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:0.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.999px,1023.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:524.00px;
	z-index:7;
}
#_idContainer016 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:50.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:490.00px;
	z-index:0;
}
#_idContainer017 {
	-ms-transform:translate(0.000px,57.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,57.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:98.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,57.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:492.00px;
	z-index:1;
}
#_idContainer018 {
	-ms-transform:translate(53.999px,362.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(53.999px,362.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:155.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(53.999px,362.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:492.00px;
	z-index:3;
}
#_idContainer019 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:204.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:492.00px;
	z-index:0;
}
#_idContainer020 {
	-ms-transform:translate(24.000px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(24.000px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:23.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(24.000px,14.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:380.00px;
	z-index:1;
}
#_idContainer021 {
	-ms-transform:translate(24.000px,47.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(24.000px,47.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:143.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(24.000px,47.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:425.00px;
	z-index:2;
}
#_idContainer022 {
	-ms-transform:translate(53.999px,535.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(53.999px,535.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:204.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(53.999px,535.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:492.00px;
	z-index:4;
}
#_idContainer023 {
    -ms-transform: translate(53.999px,755.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
    -ms-transform-origin: 0% 0%;
    -webkit-transform: translate(53.999px,755.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
    -webkit-transform-origin: 0% 0%;
    height: 265px;
    left: 0px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    transform: translate(53.999px,755.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
    transform-origin: 0% 0%;
    width: 492.00px;
    z-index: 6;
}
#_idContainer024 {
	-ms-transform:translate(53.999px,1049.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(53.999px,1049.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:284.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(53.999px,1049.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:492.00px;
	z-index:5;
}
#_idContainer025 {
	display:inline-block;
	height:1530px;
	position:relative;
	width:600px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	background-color:#ffffff;
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	background-color:#006699;
	border-width:0px;
}
div._idGenObjectStyleOverride-3 {
	border-width:0px;
}
div._idGenObjectStyleOverride-4 {
	background-color:#e0edf5;
	border-width:0px;
}
div._idGenObjectStyleOverride-5 {
	border-color:#006699;
	border-width:2px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
